body{

}
.tour-container{
  display: flex;
  justify-content: center;
}
.tour-tile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #2D00E6;
  width: 800px;
  height: 100px;
  opacity: .9
}
.tour-tile:hover{
  opacity: .6
}
