
body{
  background-color: #5A5859;
}


.tour-container{
  display: flex;
  justify-content: center;
}
div.tour-tile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  background-image: url('levi-price-35655');
  background-repeat: no-repeat;
  background-size:cover;
  width: 800px;
  height: 100px;
  opacity: .9;
  color: white;
  font-size: 30px;
}
.tour-tile:hover{
  opacity: .6
}
